.header {
  background-image: url(../../assets/header-background.jpg);
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header h1 {
  color: #fff;
  font-size: 40px;
  margin-bottom: 8px;
}

.header h2 {
  color: #fff;
  font-size: 24px;
  margin-top: 8px;
}
